<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/style.css ' %} ">
</head>
<body>

    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}

    <h1>Register Here</h1>
    <form method ="POST" action="" >
        {% csrf_token %}
        <p>Username</p>
        <input type="text" name="Username"/>
        <p>Email</p>
        <input type="email" name="Email"/>
        <p>Password</p>
        <input type="password" name="Password"/>
        <p>Repeat Password </p>
        <input type="password" name="Password2"/><br>
        <input type="submit">
    </form>
    
</body>
</html>